{{ define "header_nav" }}

<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-link"></i> <span>资源</span> <i style="font-size: .8em;"
                            class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                        <ul class="nav-list">
                            <li><a href="https://aibfarm.com/" class="dropdown-item"><i class="fas fa-list"></i> 主页</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="https://aibfarm.com/deposit.html" class="dropdown-item"><i class="fas fa-database"></i> 充香火</a></li>
                           <div class="dropdown-divider"></div>
                            <li><a href="https://aibfarm.com/aibfarm.faq.20240904.pdf" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> FAQ</a>
                            </li>
                            <!--  <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li> -->
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i><span id="name_of_user">隐士</span> <i style="font-size: .8em;"
                            class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                        <ul class="nav-list">
                            <!-- <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li> -->
                            <li><a href="https://dashboard.aibfarm.com/master.html" class="dropdown-item"><i class="fas fa-envelope"></i> 师傅</a></li>
                            <!-- <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li> -->
                            <div class="dropdown-divider"></div>

                            <li><a href="https://dashboard.aibfarm.com/" class="dropdown-item"><i class="fas fa-cog"></i> 退出</a></li>
             
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>



{{ end }}